.body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: cursive;
}
.Texto{
    border: 1px solid;
    padding: 5%;
    margin: 2%;
    border-radius: 2%;
    background-color: rgb(253, 253, 253);
    color: black;
}

.carrucel{
    display: block;
    margin: auto;
    width: 100%;
}

.img1{
    width: 50%;
}

.card{
    align-items: center; 
}
p{
    font-size: 130%;
}



